---
lang: en
---

doctype html
html(lang=lang)
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="/css/normalize.css")
    link(rel="stylesheet", href="/css/style.css")
    link(rel="stylesheet", href="/css/code.css")
    link(rel="stylesheet", href="/css/figures.css")
    link(rel="stylesheet", href="/css/footnotes.css")
    link(rel="stylesheet", href="/css/sidenotes.css")
    link(rel="stylesheet", href="/css/tables.css")
    link(rel="stylesheet", href="/css/fa-solid.css")
    link(rel="stylesheet", href="/css/fa-regular.css")
    link(rel="stylesheet", href="/css/fontawesome.css")
    each style in styles || []
      link(rel="stylesheet", href=`/css/${style}`)
    each script in scripts || []
      script(type="module", src=`/scripts/${script}`, defer)
    title #{ htmlTitle }
  body
    | !{ content }
